.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url("./assets/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section3 {
  /* background-color: #282c34; */
  background-image: url("./assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section5 {
  background-color: #282c34;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}
@media screen and (min-width: 601px) {
  div.judul {
    font-size: 80px;
    font-family: pacifico;
    color: white;
    align-items: center;
    justify-content: center;
  }
  div.containerText {
    /* background-color: wheat; */
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
  }
  .kembangAtas {
    transform: rotate(180deg);
    height: 50px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .kembangBawah {
    /* transform: rotate(180deg); */
    height: 50px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .boxdua {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    color: black;
    margin-top: 50px;
  }
  .fotoMempelai {
    border-radius: 50%;
    width: 200px;
  }
  .isiUndangan {
    font-size: 14px;
    font-weight: 100;
    color: black;
  }

  /* ==========TIMER============ */
  h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  .countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .countdown-item {
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

  .countdown-item span {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
  }

  /* ============END TIMER============ */
  .peta {
    width: 730px;
    height: 450px;
    margin-bottom: 50px;
    border: 0;
  }
  .assetKeempat {
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .galeriteks {
    font-size: 50px;
    margin-top: 80px;
  }
  .containerGambar {
    justify-content: center;
    align-content: center;
    width: 90%;
    background-color: #696969;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  div.judul {
    font-size: 55px;
    margin-top: -10vh;
    font-family: pacifico;
    color: white;
    align-items: center;
    justify-content: center;
  }
  div.containerText {
    /* background-color: rgb(241, 120, 166); */
    /* width: 90%; */
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
  }
  .kembangAtas {
    transform: rotate(180deg);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .kembangBawah {
    /* transform: rotate(180deg); */
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  .assetKetiga {
    /* transform: rotate(180deg); */
    height: 40px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .assetKeempat {
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .galeriteks {
    font-size: 30px;
    margin-top: 80px;
  }
  .boxdua {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 99%;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15px;
    color: black;
  }
  .fotoMempelai {
    border-radius: 50%;
    width: 130px;
    margin-top: 40px;
  }
  .isiUndangan {
    font-size: 10px;
    font-weight: 100;
    color: black;
  }
  /* ==========TIMER============ */
  h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }

  .countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .countdown-item {
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    line-height: 30px;
    /* margin: 10px; */
    /* padding-top: 10px; */
    position: relative;
    width: 100px;
    height: 100px;
    /* margin-bottom: 20px; */
  }

  .countdown-item span {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
  }

  /* ============END TIMER============ */

  .peta {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    border: 0;
  }
  .containerGambar {
    justify-content: center;
    align-content: center;
    width: 90%;
    background-color: #696969;
    margin-bottom: 50px;
  }
}

.bg-transparan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
}

.bg-dua {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 100%;
  min-height: 100vh;
}

.kedua {
  background-color: #ffffff;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
